<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h1>Cocktails</h1>
  <%= link_to "new cocktail", new_cocktail_path, class: "btn btn-outline-primary btn-sm rounded-pill" %>
</div>

<div class="d-flex justify-content-between align-items-center">
  <% @cocktails.each do |cocktail| %>
  <div class="ck-card card bg-dark text-white" style="background-image: url('<%= cocktail.picture_url %>'); background-size: cover; background-position: center; height: 200px; width: 30%">
    <div class="card-img-overlay d-flex justify-content-between flex-wrap">
      <h4 class="card-title"><%= cocktail.name %></h4>
      <%= link_to " ", cocktail_path(cocktail), class: "far fa-eye btn btn-outline-light btn-sm rounded-pill mt-auto p-2 bd-highlight" %>
    </div>
  </div>
  <% end %>
</div>
