.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.banner {
  // background-color: $primary;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7329306722689075) 0%, rgba(0,0,0,0) 100%), url('banner.jpg');
  height: 300px;
  background-size: cover;
  background-position: center;
}

.navbar {
  // background-color: $primary;
  height: 64px;
  position: sticky-top;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-blue {
  background-color: $primary;
}

.logo {
  height: 30px;
}

.avatar {
  border-radius: 50%;
  border: solid white 2px;
  height: 40px;
}

.white span {
  color: white;
  font-size: 40px;
  font-family: 'Montserrat Alternates';
  font-weight: 100;
}
